:root{
  --colorfirst:rgb(17, 30, 53);
  --colorSecond: #fff;
  --colorThird: #7fffd4;
  --colorFourth: #3df8ba;
  --colorFifth: rgb(26, 37, 56);
  --colorSixth: rgb(72, 97, 141);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 30, 53);
  color: var(--colorSecond);
  font-family: sans-serif;
}
.container{
  padding: 1rem;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem;
}
.item{
  color: var(--colorSecond);
  text-decoration: none;
}
.button{
  font-weight: bolder;
  background-color: var(--colorThird);
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  color: var(--colorfirst);
}
.button:hover{
  transition: 0.3s;
  background-color: var(--colorFourth);
}
 .icon{
   font-size: 1rem;
 }
 .containerB{
/*    height: 100vh; */
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .card{
   display: flex;
   min-width: 300px;
   justify-content: space-between;
 /*   border: #3df8ba solid 1px; */
  background-color: var(--colorFifth) ;
  padding: 1rem 2rem;
   margin-top: 5px;
 }

 .form{
   background-color: var(--colorFifth);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .form-c{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 1rem;
 }

 .input{
   background-color: var(--colorSixth);
   outline: none;
   border: none;
   padding: 0.5rem;
   color: var(--colorSecond);
   font-size: 1rem;
 }

 .btn{
   padding: 3px 8px;
   margin-left: 10px;
   color: var(--colorSecond);
   border: none;
   font-weight: bold;
 }
 .btn:active{
   transition: 0.3s;
   box-shadow: none;
   transform: scale(0.9);
 }
 .colorred{
   background-color: rgb(172, 5, 5);
 }
 .colorred:hover{
   transition: 0.2s;
   background-color: rgb(255, 0, 0);
 }
 .colorgray{
   background-color: rgb(105, 105, 105);
 }
 .colorgray:hover{
   background-color: rgb(138, 137, 137)
 }

 .colorM {
   background-color: rgb(194, 7, 178);
 }

 .colorM:hover {
   background-color: rgb(247, 60, 231);
 }
 
 .link{
   text-decoration: none;
   font-size: 0.9rem;
 }
